input {
  text-align: center;
}

.main
{
  margin-top:30vh;
  min-height: 30vh;
  text-align:center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
